# Since .env is gitignored, you can use .env-example to build a new `.env` file when you clone the repo.

# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.

# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma

DATABASE_URL="postgresql://root:password@hypertube_db:5432/hypertube?connection_limit=1&pool_timeout=20"

# ?connection_limit=5&pool_timeout=20

# Next Auth

NEXTAUTH_SECRET=yourSecret
NEXTAUTH_URL=http://localhost:3000

# Next Auth GitHub Provider

GITHUB_ID=yourClient
GITHUB_SECRET=yourSecret

# Next Auth 42 Provider

FORTY_TWO_CLIENT_ID=yourClient
FORTY_TWO_CLIENT_SECRET=yourSecret

# Email provider

EMAIL_SERVER_USER=user
EMAIL_SERVER_PASSWORD=password
EMAIL_SERVER_HOST=smtp.office365.com
EMAIL_SERVER_PORT=587
EMAIL_FROM=email
