html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.app {
	min-height: 100vh;
	min-width: 100vw;
}

.blobs-background {
	background-image: url('../../public/blob-scene-3.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.glass-background {
	background: #ffffff33;
	border-radius: 10px;
	box-shadow: 0 4px 30px #0000001a;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* .hrDiv {
	border: 0;
	clear: both;
	display: block;
	width: 96%;
	background-color: rgba(0, 0, 0, 0.1);
	height: 1px;
} */

.movieCard {
	transition: 0.3s;
}

.movieCard:hover {
	box-shadow: 0 20px 30px rgba(20, 20, 20, 0.8);
	transform: translateY(-7px);
}

.movieCard-OverLay {
	transition: 0.3s;
}

.movieCard-OverLay:hover {
	background: #ffffff33;
	border-radius: 10px;
	box-shadow: 0 4px 30px #0000001a;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(10px);
}

.movieCard-Body {
	opacity: 0;
	transition: 0.3s;
}

.movieCard:hover .movieCard-Body {
	opacity: 1;
	background: #ffffff9a;
	border-radius: 10px;
	box-shadow: 0 4px 30px #0000001a;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(10px);
}
